<mat-stepper [linear]="true" #stepper>
  <mat-step label="Choose date" [stepControl]="datePicker">
    <div
      style="display: flex; flex-direction: row; justify-content: space-between"
    >
      <app-reservation [mapToggle]="false" style="width: 100%">
        <form [formGroup]="datePicker">
          <mat-card>
            <app-date-picker></app-date-picker>
          </mat-card>
        </form>
      </app-reservation>
    </div>
    <button mat-button matStepperNext>Next</button>
  </mat-step>

  <mat-step label="Choose resource">
    <app-reservation (viewMode)="toggleViewMode($event)">
      <app-resource-list
        *ngIf="viewModeMap; else viewModeTable"
      ></app-resource-list>
    </app-reservation>
    <ng-template #viewModeTable>
      <app-map></app-map>
    </ng-template>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step label="Summary">
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>
        Confirm reservation
      </button>
    </div>
  </mat-step>
</mat-stepper>
