@use "@angular/material" as mat;

$my-palette: mat.define-palette(mat.$blue-grey-palette);

.my-custom-style {
  background: mat.get-color-from-palette($my-palette, "500");
  color: mat.get-color-from-palette($my-palette, "500-contrast");
}

.account-container {
  display: flex;
  height: 85vh;
  width: 100vw;
  background: url("/assets/office.jpg") no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
}

.account-subcontainer {
  height: 70%;
  margin: auto;
}
