<!-- most of css classes NOT IMPLEMENTED!!! -->

<div class="main-container">
  <h4 class="card-header">Sign in</h4>
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="form"
        (ngSubmit)="
          onSubmit({ username: f.username.value, password: f.password.value })
        "
      >
        <div class="form-group">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              placeholder="asd"
              formControlName="username"
              required
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              formControlName="password"
              required
            />
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">Login</button>
          <mat-spinner *ngIf="pending$ | async"></mat-spinner>
        </div>
      </form>
    </div>
  </div>

  <!-- <div class="card sub-card">
    <span
      >Click here to
      <span class="redirect" routerLink="/account/sign-up"> Register</span>
    </span>

    <hr style="width: 100%" />
    <span class="redirect" routerLink="/account/forgot-password">
      Forgot password?</span
    >
  </div> -->
</div>
