.redirect {
  color: #6366f1;
}

.redirect:hover {
  text-decoration: underline;
  cursor: pointer;
}

// .form-inputs {
//   display: flex;
//   flex-direction: column;
//   padding: 1rem;
// }

mat-card-title {
  text-align: center;
  margin: 1rem 0;
}

mat-card-content {
  justify-content: center;
}

.mat-mdc-form-field {
  width: 100%;
  min-width: 300px;
}

.login-error {
  padding: 1rem;
  width: 300px;
  color: white;
  background-color: red;
}
