<!-- most of css classes NOT IMPLEMENTED!!! -->

<div class="main-container">
  <h4 class="card-header">Sign in</h4>
  <div class="card">
    <div class="card-body">
      <form
        [formGroup]="form"
        (ngSubmit)="
          onSubmit({ username: f.username.value, password: f.password.value })
        "
      >
        <div class="form-group">
          <div class="main-input">
            <span class="p-float-label">
              <input
                id="username"
                class="input"
                type="text"
                formControlName="username"
                pInputText
                required
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    (submitted && f.username.errors) ||
                    (f.username.touched && f.username.errors)
                }"
              />
              <label htmlFor="username">username</label>
            </span>

            <small
              class="p-error"
              *ngIf="(submitted && f.username.errors?.['required'] || f.username.touched && f.username.errors?.['required'] ) "
            >
              username required
            </small>
          </div>

          <div class="main-input">
            <span class="p-float-label">
              <input
                id="password"
                class="input"
                formControlName="password"
                pInputText
                type="password"
                [ngClass]="{
                  'ng-invalid ng-dirty':
                    (submitted && f.password.errors) ||
                    (f.password.touched && f.password.errors)
                }"
              />
              <label htmlFor="password">Password</label>
            </span>

            <small
              class="p-error"
              *ngIf="
                (submitted && f.password.errors) ||
                (f.password.touched && f.password.errors)
              "
            >
              Password required
            </small>
          </div>
        </div>

        <div class="error">
          <small class="p-error">
            {{ error$ | async }}
          </small>
        </div>

        <div class="submit-btn">
          <button
            pButton
            label="Login"
            class="p-button-rounded p-button-outlined btn"
            type="submit"
            [loading]="pending$ | async"
            iconPos="right"
          ></button>
        </div>
      </form>
    </div>
  </div>

  <div class="card sub-card">
    <span
      >Click here to
      <span class="redirect" routerLink="/account/sign-up"> Register</span>
    </span>

    <hr style="width: 100%" />
    <span class="redirect" routerLink="/account/forgot-password">
      Forgot password?</span
    >
  </div>
</div>
