<div style="display: flex; flex-direction: row">
  <div id="resources" style="width: 70%">
    <mat-toolbar style="height: 50px">
      <div *ngIf="mapToggle">
        <mat-slide-toggle
          [ngModel]="viewMode"
          (ngModelChange)="onViewModeChange($event)"
          #darkModeSwitch
          >View mode</mat-slide-toggle
        >
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </div>
  <app-selections
    style="width: 30%; display: flex; flex-direction: column"
  ></app-selections>
</div>
